@{
    ViewBag.Title = "贸促中心简介 关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--中心简介-->
<link href="~/Content/css/focus.css" rel="stylesheet" />
<div class="focus-public">
    <section class="page-second-top">
        <!--网站路径-->
        <div class="website-url pull-left">
            <span>当前位置 : </span>
            <span><a href="/Home/Home">首页</a></span> <i class="fa fa-angle-right fastyle"></i> 
            <span><a href="@Url.Action("Index","AboutUs",new { area = "", index = "aboutUs" })">关于我们</a></span> <i class="fa fa-angle-right fastyle"></i> 
            <span>贸易促进中心简介</span>
        </div>
        <div class="clearfix"></div>
        <!--搜索-->
        @*<form class="pull-right search">
            <img class="pull-left" src="~/Content/images/focus/search-left.png" /><input type="text" placeholder="在本栏目搜索" /><img class="pull-right" src="~/Content/images/focus/search-right.png" /><button type="submit"><img src="~/Content/images/search-but.png" /></button>
        </form>
        <div class="clearfix"></div>*@
    </section>
    <section class="mian">
        <div class="top-back-1"></div>
        <div class="top-back-2"></div>
        @Html.Partial("_LeftMenu")
        <section class="menu-content">
            <div class="top"><span>贸易促进中心简介</span></div>
            <div class="tai_mian">
                <div class="col-md-6 col-xs-12">
                    <img src="~/Content/images/huanjing.jpg" class="img-responsive" />
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="tit-margin">
                        <span class="tit_border">
                            <img src="~/Content/images/tit_aboutus.jpg" class="img-responsive" />
                        </span>
                        <p style="text-indent:2em;">开发区贸易促进中心成立于2003年5月29日，是天津经济技术开发区管委会贸发局的所属部门。</p>
                        <ul class="tailist">
                            <li>开发区管委会为区内企业搭建的商贸平台</li>
                            <li>政府企业服务部门</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="taititle">我们的服务</div>
                    <ul class="tailist">
                        <li>为区内企业构筑最直接的商贸平台</li>
                        <li>全力推广开发区企业的产品</li>
                        <li>帮企业在全球范围内寻求更多的商机</li>
                        <li>创造良好的营商环境</li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="taititle">天津经济技术开发区贸易促进中心 · 泰达贸促网</div>
                    <ul class="tailist">
                        <li>注册企业数量约4000家，收录2000多家企业产品信息</li>
                        <li>每日发布大量采购信息、行业动态, 企业可免费注册享受便利</li>
                        <li>涵盖大量企业商务配对信息的专业数据库</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div style="padding-top:30px;">
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <img src="~/Content/images/inco-shangwu.jpg" />
                        <h4>商务配对</h4>
                        <span style="display:block;text-align:left; min-height:116px; color:#656565;">与国内外多家商贸机构建立合作联盟关系，每年组织大量商贸专业对接活动</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <img src="~/Content/images/inco-zhanlan.jpg" />
                        <h4>展览会议</h4>
                        <span style="display:block;text-align:left; min-height:116px; color:#656565;">每年组织企业参加境内外相关专业的展会活动。为参展企业提供政策支持</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <img src="~/Content/images/inco-zazhi.jpg" />
                        <h4>媒体杂志</h4>
                        <span style="display:block;text-align:left; color:#656565;">自编刊物收录的企业及产品全面涵盖开发区支柱产业与《滨海时报》、《新商界》等合作媒体打造企业产品媒体宣传平台</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <img src="~/Content/images/inco-peixun.jpg" />
                        <h4>商务培训</h4>
                        <span style="display:block;text-align:left; color:#656565;">协助企业员工提升综合素质，开展了一系列针对性的培训</span>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="h_20"></div>
            <div class="h_20"></div>
            <div class="text-center" style="color:#656565;">更新日期：2017年09月29日  09:18</div>
        </section>
        <div class="clearfix"></div>
        <div class="h_20"></div>
        <div class="h_20"></div>
    </section>
</div>
<script>
    //初始化左侧目录
    LeftMenu([
        '关于我们',
        [{ 'name': '贸易促进中心简介', 'url': '@Url.Action("Index","AboutUs",new { area = "", index = "aboutUs" })', 'current': true },
            { 'name': '专业服务', 'url': '@Url.Action("ZhuanService", "AboutUs", new { area = "", index = "aboutUs" })', 'current': false },
             { 'name': '年度计划', 'url': '@Url.Action("ProfessionalService", "AboutUs", new { area = "", index = "aboutUs" })', 'current': false },
         { 'name': '成为会员', 'url': '@Url.Action("UserDeclaration", "Account", new { area = "", index = "aboutUs" })', 'current': false }]
    ]);
</script>